@font-face {
    font-family: londrina;
    src: url('LondrinaSolid-Regular.otf');
}

body{
    margin: 0;
    height: 1920px;
    width: 1080px;
    background-image: url('cardapio.png');
    background-repeat: no-repeat;
    background-size:  1100px 1950px;
    font-size: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botao{
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    z-index: 5;
    margin-top: 18%;
}

.pronto-img{
    width: 330px;
    z-index: 5;
}

.texto{
    width: 650px;
    color: #4B2B06;
    letter-spacing: 0.8px;
    line-height: 75px;
    font-weight: normal;
    font-family: londrina, fantasy;
    display:flex;
    
    justify-content: space-between;
    /*     top   right  bottom  left   */
}

p:nth-child(1){
    text-align: left;
    min-width: 400px;
    max-width: 500px;

}
p:nth-child(2){
    text-align: right;
    align-self: flex-start;
    width: 140px;
}

