body{
    margin:0;
    height: 1920px;
    width: 1080px;
    background-image: url('cardapio.png');
    background-repeat: no-repeat;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botao{
    position:absolute;
    margin-top: 80px;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    z-index: 5;
}

.pronto-img{
    width: 270px;
    z-index: 5;
}

.texto{
    margin-top: 450px;
    width: 850px;
    color: #4B2B06;
    letter-spacing: 0.1px;
    font-size: 45px;
    line-height: 65px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: space-between;
}

p:nth-child(1){
    text-align: left;
    min-width: 500px;
    max-width: 650px;

}
p:nth-child(2){
    text-align: right;
    align-self: flex-start;
    width: 170px;
}

